
    <section class="flex flex-col py-8 bg-white">
        <div class="flex px-20 pb-6 justify-between  ">
            <!-- about us -->
            <div>
                <h2 class="font-blod text-2xl pb-2">About Us</h2>
                <p class="w-[15rem] text-gray-800 ">We're your trusted TV experts, providing quality TeleVision solutions for over 20 years.</p>
            </div>

            <!-- contact -->
            <div>
                <h2 class="font-blod text-2xl pb-2">Contact</h2>
                <p class="text-gray-800">Email: info@TVshop.com</p>
                <p class="text-gray-800">Phone: (123) 456-7890</p>
                <p class="text-gray-800">Address: 123 Cool St, Chillville, TV 12345</p>
            </div>
            <!-- quick links -->
            <div class="flex flex-col">
                <h2 class="font-blod text-2xl pb-2">Quick Links</h2>
                <a href="" class="hover:text-indigo-600 text-gray-800">Services</a>
                <a href="" class="hover:text-indigo-600 text-gray-800">Products</a>
                <a href="" class="hover:text-indigo-600 text-gray-800">FAQs</a>
            </div>
            <!-- follows us -->
            <div>
                <h2 class="font-blod text-2xl pb-2">Follow Us</h2>
                <div class="flex space-x-4">
                    <a href="" class="text-2xl hover:text-indigo-600"><i class="fab fa-facebook fs-4"></i></a>
                    <a href="" class="text-2xl hover:text-indigo-600"><i class="fab fa-twitter fs-4"></i></a>
                    <a href="" class="text-2xl hover:text-indigo-600"><i class="fab fa-instagram fs-4"></i></a>
                </div>
            </div>
        </div>

        <!-- copyright section -->
        <div class="flex justify-center item-center border-t py-4">
            <p class="text-gray-800">© 2025 TeleMart Shop. All rights reserved.</p>
        </div>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</html>