{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="bg-gray-100">
    <header class="sticky bg-white shadow-md z-40 top-0">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between h-16">
                <!-- LOGO -->
                <div class="flex items-center">
                    <h1 class="text-2xl font-bold text-indigo-600"><a href="{% url 'index'%}">TeleMart</a></h1>
                </div>

                <!-- Search Bar -->
                <div class="hidden md:flex max-w-lg mx-8">
                    <div class="relative w-full">
                        <input type="text"
                            class="max-w-4xl border w-96 px-4 py-2 border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
                            placeholder="Search products..." id="">
                        <button class="absolute right-2 top-2 text-gray-400 hover:text-indigo-600"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>

                <!-- Navigation Icons -->
                <div class="flex items-center space-x-4">
                    <a href="{% if request.session.user_id %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}"><button class="text-gray-600 hover:text-indigo-600 transition">
                        <i class="fas fa-user text-xl"></i></a>
                    </button>
                    <a href="{% if request.session.user_id%}{% url 'my_wishlist' %}{% else %}{% url 'login' %}{% endif %}">
                    <button class="text-gray-600 hover:text-indigo-600 transition">
                        <i class="fas fa-heart text-xl"></i>
                    </button></a>
                    <a href="{% if request.session.user_id%}{% url 'my_cart'  %}{% else %}{% url 'login' %}{% endif %}">
                    <button class="relative text-gray-600 hover:text-indigo-600 transition">
                        <i class="fas fa-shopping-cart text-xl"></i>
                        {% if request.session.user_id%}<span class="absolute -top-2 -right-2 bg-red-500 rounded-full h-5 w-5 text-white text-xs flex items-center justify-center">0</span>{% else %}{% endif %}
                    </button></a>
                </div>
            </div>

            <!-- Navigation Menu -->

            <nav class="hidden md:flex border-t">
                <ul class="flex space-x-8 py-4">
                    <li><a href="{% url 'filter'  %}" class="hover:text-indigo-600 font-medium text-gray-500">All Product</a></li>
                    <li><a href="{% url 'my_cart'  %}" class="hover:text-indigo-600 font-medium text-gray-500">About us</a></li>
                    <li><a href="{% url 'my_cart'  %}" class="hover:text-indigo-600 font-medium text-gray-500">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>