<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="bg-gray-100">
    

    <!-- Breadcrumb -->
    <div class="mx-40 mt-6">
        <p class="text-sm">
            <span class="text-[#000093] font-bold hover:text-indigo-600 cursor-pointer">Home Page</span>
            <span class="text-gray-400 mx-1">></span>
            <span class="text-gray-600 font-bold">My Address</span>
        </p>
    </div>

    <!-- Main Section -->
    <div class="mx-40 mt-4 flex gap-6">
        <!-- Sidebar -->
        {%include 'profile_sidebar.html'%}

        <div class="flex-1 flex flex-col">
            <div class="font-bold my-4 text-2xl">
                <h2>My Address</h2>
            </div>
            <section class="bg-white rounded shadow p-6 flex flex-col items-center text-center">
                <svg data-v-14ff9052="" width="180" height="180" viewBox="0 0 180 180" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.28"
                        d="M90 168C133.078 168 168 133.078 168 90C168 46.9218 133.078 12 90 12C46.9218 12 12 46.9218 12 90C12 133.078 46.9218 168 90 168Z"
                        fill="url(#paint0_linear_3912_923634)"></path>
                    <path
                        d="M38.3204 97.4972C39.7739 97.4972 40.9523 96.3189 40.9523 94.8653C40.9523 93.4117 39.7739 92.2334 38.3204 92.2334C36.8668 92.2334 35.6885 93.4117 35.6885 94.8653C35.6885 96.3189 36.8668 97.4972 38.3204 97.4972Z"
                        fill="url(#paint1_linear_3912_923634)"></path>
                    <path
                        d="M137.057 69.6617C138.467 69.6617 139.609 68.519 139.609 67.1095C139.609 65.7 138.467 64.5574 137.057 64.5574C135.648 64.5574 134.505 65.7 134.505 67.1095C134.505 68.519 135.648 69.6617 137.057 69.6617Z"
                        fill="#F7AB20"></path>
                    <path
                        d="M134.184 134.345C135.197 134.345 136.018 133.523 136.018 132.51C136.018 131.497 135.197 130.676 134.184 130.676C133.171 130.676 132.35 131.497 132.35 132.51C132.35 133.523 133.171 134.345 134.184 134.345Z"
                        fill="url(#paint2_linear_3912_923634)"></path>
                    <path
                        d="M90.0801 127.882C83.6997 119.348 77.3991 111.054 71.3377 102.52C68.2273 98.1337 65.1169 93.5877 62.804 88.8024C54.8285 72.373 61.8469 53.4711 78.1966 46.7717C89.8408 41.9864 102.841 44.5386 111.694 53.3116C120.467 62.0846 123.178 75.2441 118.154 86.8085C116.24 91.1951 113.767 95.3423 111.056 99.2503C104.276 108.821 97.1782 118.232 90.0801 127.882Z"
                        fill="url(#paint3_linear_3912_923634)" stroke="white" stroke-width="4.25358"
                        stroke-miterlimit="10"></path>
                    <path
                        d="M111.533 115.361C113.846 116.398 115.999 117.674 117.833 119.508C121.183 122.938 121.183 127.085 117.833 130.435C116.637 131.551 115.361 132.748 113.846 133.386C110.576 134.821 107.146 136.257 103.717 136.975C92.0727 139.447 80.4285 139.208 69.1033 134.981C66.4714 134.024 63.9193 132.349 61.7659 130.514C58.0174 127.245 58.0972 122.619 61.7659 119.269C63.4407 117.754 65.5144 116.557 67.588 115.521"
                        stroke="url(#paint4_linear_3912_923634)" stroke-width="4.25358" stroke-miterlimit="10"></path>
                    <path
                        d="M90.0002 88.4037C82.6627 88.4834 76.6811 82.5816 76.6014 75.2441C76.5216 67.7472 82.4235 61.7656 89.9204 61.6859C97.2578 61.6061 103.239 67.5079 103.399 74.8454C103.479 81.8638 97.8959 88.4037 90.0002 88.4037Z"
                        fill="#F7AB20" stroke="white" stroke-width="4.25358" stroke-miterlimit="10"></path>
                    <defs>
                        <linearGradient id="paint0_linear_3912_923634" x1="146.672" y1="197.521" x2="39.6514"
                            y2="-5.63692" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#A6BBFB"></stop>
                            <stop offset="0.1334" stop-color="#9DB3F7"></stop>
                            <stop offset="0.3466" stop-color="#869DEE"></stop>
                            <stop offset="0.613" stop-color="#607ADD"></stop>
                            <stop offset="0.9195" stop-color="#2C49C7"></stop>
                            <stop offset="1" stop-color="#1D3BC1"></stop>
                        </linearGradient>
                        <linearGradient id="paint1_linear_3912_923634" x1="22.3213" y1="93.6589" x2="60.42" y2="96.4602"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.00644841" stop-color="#A6BBFB"></stop>
                            <stop offset="0.1552" stop-color="#A1B6F9"></stop>
                            <stop offset="0.3302" stop-color="#93A9F3"></stop>
                            <stop offset="0.5185" stop-color="#7B93E9"></stop>
                            <stop offset="0.7161" stop-color="#5A74DB"></stop>
                            <stop offset="0.919" stop-color="#304DC9"></stop>
                            <stop offset="1" stop-color="#1D3BC1"></stop>
                        </linearGradient>
                        <linearGradient id="paint2_linear_3912_923634" x1="118.302" y1="134.195" x2="176.01"
                            y2="128.031" gradientUnits="userSpaceOnUse">
                            <stop offset="0.00644841" stop-color="#A6BBFB"></stop>
                            <stop offset="0.1552" stop-color="#A1B6F9"></stop>
                            <stop offset="0.3302" stop-color="#93A9F3"></stop>
                            <stop offset="0.5185" stop-color="#7B93E9"></stop>
                            <stop offset="0.7161" stop-color="#5A74DB"></stop>
                            <stop offset="0.919" stop-color="#304DC9"></stop>
                            <stop offset="1" stop-color="#1D3BC1"></stop>
                        </linearGradient>
                        <linearGradient id="paint3_linear_3912_923634" x1="59.4817" y1="86.1502" x2="120.658"
                            y2="86.1502" gradientUnits="userSpaceOnUse">
                            <stop offset="0.00644841" stop-color="#A6BBFB"></stop>
                            <stop offset="0.1552" stop-color="#A1B6F9"></stop>
                            <stop offset="0.3302" stop-color="#93A9F3"></stop>
                            <stop offset="0.5185" stop-color="#7B93E9"></stop>
                            <stop offset="0.7161" stop-color="#5A74DB"></stop>
                            <stop offset="0.919" stop-color="#304DC9"></stop>
                            <stop offset="1" stop-color="#1D3BC1"></stop>
                        </linearGradient>
                        <linearGradient id="paint4_linear_3912_923634" x1="56.6694" y1="127.087" x2="122.771"
                            y2="127.087" gradientUnits="userSpaceOnUse">
                            <stop offset="0.00644841" stop-color="#A6BBFB"></stop>
                            <stop offset="0.1552" stop-color="#A1B6F9"></stop>
                            <stop offset="0.3302" stop-color="#93A9F3"></stop>
                            <stop offset="0.5185" stop-color="#7B93E9"></stop>
                            <stop offset="0.7161" stop-color="#5A74DB"></stop>
                            <stop offset="0.919" stop-color="#304DC9"></stop>
                            <stop offset="1" stop-color="#1D3BC1"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <p class="text-gray-600 mb-4">You haven’t added any address, please add a new address to continue.</p>
                <a href="#" class="text-white border-2 bg-[#0a2885] py-2 px-8 font-bold rounded-full font-medium ">Add
                    New Address</a>
            </section>
        </div>

</body>

</html>